<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <style>
            #mapid { height: 580px; width: 900px;}
        </style>
    <title>Document</title>
</head>
<body>
    <H1>kigali live map</H1>
    <div id="mapid"></div>
    <script>
        var mymap = L.map('mapid').setView([-1.97825, 30.105], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: 'pk.eyJ1IjoiYmloaXJlIiwiYSI6ImNrNWp3MTR1ajA3N2UzamxiNHc0ZDUzM3oifQ.AsRTvbbpXohJoL05JXvhFQ'
            }).addTo(mymap);

            mapmarkers1 = []
            mapmarkers2 = []
            mapmarkers3 = []

            var source = new EventSource('/topic/bus-lines');
            source.addEventListener('message', function(e) {
                console.log('message');
                obj = JSON.parse(e.data)
                
                
                if(obj.busline == '201') {
                    for (var i = 0; i < mapmarkers1.length; i++) {
                        mymap.removeLayer(mapmarkers1[i]);
                    }
                    markers1 = L.marker([obj.latitude, obj.longitude]).addTo(mymap)
                    
                    mapmarkers1.push(markers1)
                };

                if (obj.busline == '202') {
                    for (var i =0; i < mapmarkers2.length; i++) {
                        mymap.removeLayer(mapmarkers2[i]);
                    }
                    markers2 = L.marker([obj.latitude, obj.longitude]).addTo(mymap)
                    mapmarkers2.push(markers2)
                };

                if (obj.busline == '203') {
                    for (var i = 0; i < mapmarkers3.length; i++) {
                        mymap.removeLayer(mapmarkers3[i]);
                    }
                    markers3 = L.marker([obj.latitude, obj.longitude]).addTo(mymap)
                    mapmarkers3.push(markers3)
                };
            })
    </script>
</body>
</html>